extends layout 

block content 
    a(href="/") Back 
    form(method="POST" action="/new") 
        div 
            label(for="name-input") Your name: 
            input(type="text" id="name-input" name="nameInput" required placeholder="enter name here...")
        div 
            label(for="message-input") Your message:
            textarea(name="messageInput" placeholder="enter message here..."  id="message-input" required )
            button(type="submit") Submit