extends layout

block content
  a(href="/new") New message 
  section 
    each message in messages
      div
        h3=message.text 
        p=message.user
        p=`${message.added.toLocaleTimeString()}  ${message.added.toDateString()}`
